{% extends "base.html" %}
{% block content %}
<h2>Запит на витрати</h2>
<p>Для автоматичного підтягування інформації про ваші витрати нам необхідний доступ до вашого API ключа (лише читання)</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="tooltip">
        <span class="tooltiptext">
            API для отримання інформації про виписки та стан особистого рахунку та рахунків ФОП. Для надання доступу потрібно пройти авторизацію у особистому кабінеті <a href="https://api.monobank.ua/">hhttps://api.monobank.ua/</a> та отримати токен для персонального використання.
        </span>
        <i class="fa fa-question-circle"></i> Що таке API-ключ?
    </div>
     {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <button type="submit" class="btn btn-success">Додати ключ</button>
</form>
{% endblock %}
